# API Key for Gemini. If not present, the app will simulate beautiful structured audits.
GEMINI_API_KEY=

# Password to login to the Lead Administration Panel (default fallback is abcd1234)
ADMIN_PASSWORD=abcd1234
